.idea
.venv
.context
.claude
CLAUDE.md
.mcp.json

# build directories
cmake-build-*
build
bin

# macos info
**/.DS_Store

# examples build
examples/**/main
examples/**/out.o
examples/**/out

# folder for experiments
experiments